fastapi==0.115.12
uvicorn[standard]==0.34.0
sqlalchemy==2.0.36
aiosqlite==0.20.0
sse-starlette==2.2.1

ccxt==4.5.44
loguru==0.7.3
pandas==3.0.1
pydantic==2.12.5
pydantic_settings==2.13.1
python_binance==1.0.35
PyYAML==6.0.3
Requests==2.32.5
