flask:
  DEBUG: true
  TESTING: false
  SECRET_KEY: test-secret-key
  JSON_AS_ASCII: false

db:
  # Default database connection, options: 'mysql' or 'postgresql'
  default: mysql
  
  # Specify databases for different domain services
  # examples_db: mysql
  
  # MySQL configuration
  mysql:
    url: mysql+pymysql://root:mysqlroot@localhost:3306/py_quantix
    echo: false
  
  # PostgreSQL configuration
  postgresql:
    url: postgresql+psycopg2://postgres:postgres@localhost:5432/postgres
    echo: false

redis:
  host: localhost
  port: 6379
  db: 0
  prefix: app:py_quantix

logging:
  level: INFO
  format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s' 